
.hide{
    display: none;
}



@media screen and (max-width: 576px) {
    
    .do {
        width: 100%;
        margin: 0 auto;
    }
    .do2{
        
        flex-direction: column;
        gap: 30px;
        
    }
    
    .summary{
        width: 100%;
        margin: 120px auto;
        padding: 0 30px;
    }
    .summary1{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }




}