
.hide{
    display: none;
}







@media screen and (max-width: 576px) {

.about{
    width: 100%;
    padding: 0 20px;
    margin: 90px auto;
}
.about1{

    border-radius: 10px;
}
.about2{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}








    /* Do Section Done */
    
    .do {
        width: 100%;
        margin: 0 auto;
    }
    .do2{
        
        flex-direction: column;
        gap: 30px;
        
    }
    
    .summary{
        width: 100%;
        margin: 120px auto;
        padding: 0 30px;
    }
    .summary1{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    /* Footer Section  */

    .footer{
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }

    .foot1,
.foot2 {
    margin: 30px 20px;
}

.foot2-inputs input,
textarea {
   
  
    padding: 8px 12px;
    width: 100%;
   
    font-size: 16px;
    font-weight: 400;
    
}





}