@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}



nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid;  */
    margin: 24px auto;
}


.nav1 h1 {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 50px;
    /* border: 2px solid; */

}

nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 50px;
    list-style: none;
}


nav ul li a {
    text-decoration: none;

}

nav ul li a:visited {
    color: black;
}

.nav1>h1 span {
    color: rgb(253, 110, 10);
}

nav button {
    padding: 18px 36px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    cursor: pointer;
}