@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


::selection {
    background-color: rgba(0, 128, 0, 0.377);
}



/* Navigation styles start here  */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid;  */
    margin: 24px auto;
}


.nav1 h1 {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 50px;
    /* border: 2px solid; */

}

nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 50px;
    list-style: none;
}


nav ul li a {
    text-decoration: none;

}

nav ul li a:visited {
    color: black;
}

.nav1>h1 span {
    color: rgb(253, 110, 10);
}

nav button {
    padding: 18px 36px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    cursor: pointer;
}


/* Banner section starts Here  */



.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: rgb(255, 248, 243);
}

#banner1>h3 {

    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;

}

#banner1>h2 {
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
}

#banner1>p {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
}

#banner1 {

    margin-left: 80px;

}

#banner-btn {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 44px;
    margin-top: 30px;
}

#banner-btn1 button {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    padding: 18px 36px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;


}

#banner-btn2 button {
    background-color: transparent;
    padding: 18px 36px;
    border-radius: 5px;
    border: 2px solid rgb(253, 110, 10);
    color: rgb(253, 110, 10);
    cursor: pointer;

}


/* About Section Starts Here  */



.about {
    border-radius: 10px;
    background: rgb(255, 248, 243);
    margin: 30px auto;
    padding: 131px 157px;
    width: 1140px;
}

.about1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    background: rgb(255, 255, 255);
    text-align: center;
}

.about1 h3 {
    color: rgb(24, 24, 24);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.about1 p {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.about2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.about-item {
    text-align: center;
    margin-right: 24px;
}



.about2 .item-text {
    font-weight: 700;
    /* font-size: 30px; */
}


/* About me sections Starts Here */

.do {
    margin: 135px auto;
    width: 1200px;
}


.do1 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.do1 h3 {
    font-size: 35px;
    margin-bottom: 30px;
}

.do2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}


.do-card {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.308);
    margin: 0 20px;
    border-radius: 10px;
    padding: 25px;
}

.do-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 38px;

}

.do-card p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    margin-top: 20px;
}

/* Summary of my Resume */


.summary {
    text-align: center;
    margin: 40px auto;
    width: 1600px;
}

.summary>h1 {
    margin-bottom: 113px;
}

.summary1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.column1,
.column2 {
    text-align: left;
}


.ex-title {
    margin-bottom: 10px;
    margin-top: 30px;
}

.ex-sub-title {
    margin-bottom: 20px;
}


.experience-description {
    margin-bottom: 30px;
}

.sum-btn {
    margin-top: 50px;
}

.sum-btn button , .foot2 button {
    border-radius: 5px;
    padding: 18px 19px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    background: rgb(253, 110, 10);
}


/* Summary section text colors */


.column-title,
.ex-title {
    color: rgb(71, 71, 71);
}

.column-title {
    font-size: 30px;
    font-weight: 700;
}

.ex-title {
    font-size: 25px;
    font-weight: 700;
}

.ex-sub-title,
.experience-description {
    color: rgb(117, 117, 117);
}


/* Footer Section starts Here  */

.footer {
    background: rgb(255, 248, 243);
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 113px;
}

.foot1,
.foot2 {
    margin: 130px 120px;
}



.foot1 h2,
.foot2 h2 {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.foot1>p {
    color: rgb(71, 71, 71);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.foot-img{
      display: flex;
      justify-content: space-around;
      width: 120px;
}

.foot-img img{
    cursor: pointer;
}

.foot2-inputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.foot2-inputs input,
textarea {
    margin-bottom: 24px;
    border-radius: 5px;
    outline-color: rgb(253, 110, 10);
    text-align: left;
    border: none;
    padding: 8px 12px;
    width: 461px;
    height: 64px;
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;

}


textarea {
    width: 461px;
    height: 180px;
}


.foot2 button{
    width: 150px;
height: 64px;
}






























